/* display background color black on navbar scroll */
.navbarScroll {
    background-color: transparent; /* Initial background color (transparent) */
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  .scrolled {
    background-color: rgba(51, 51, 51, 0.7); /* Translucent background color when scrolled (adjust alpha as needed) */
  }  
   

/* hero background image */
.bgimage {
    height:100vh;
    background: url('Black-Desk-Background.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
 #about, #services, #portfolio, #contact {
    margin-top: 2rem;
    padding-top: 2rem;
} 
#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
    font: 2em Montserrat;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-battle-net:hover,.fa-instagram:hover,.fa-linkedin:hover, .fa-github:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

#btn{
    width: 60px;
    height: 40px;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
